keystore=C:\\Users\\Public\\Java\\arrowhead\\certificates\\testcloud1\\serviceregistry.testcloud1.jks
keystorepass=12345
keypass=12345
truststore=C:\\Users\\Public\\Java\\arrowhead\\certificates\\testcloud1\\testcloud1_cert.jks
truststorepass=12345
base_uri=http://0.0.0.0:8442/
base_uri_secured=https://0.0.0.0:8443/
#scheduled ping for remove unaccessible services
ping.timeout=10000
ping.scheduled=false
#interval in minutes
ping.interval=60
