tsig.key=RM/jKKEPYB83peT0DQnYGg==
tsig.name=key.evoin.arrowhead.eu.
tsig.algorithm=hmac-md5
dns.ip=192.168.184.128
dns.port=53
#setting dnssd.domain property for dnssdjava
dns.domain=evoin.arrowhead.eu
#dnssd.hostname property for dnssdjava
dns.host=localhost
dns.registerDomain=srv.evoin.arrowhead.eu
