#leave TSIG fields empty if not used
#and it is currently not used in our public test beds
#e.g. tsig.name=key.arrowhead.tmit.bme.hu
#e.g. tsig.key=RM/jKKEPYB83peT0DQnYGg==
#e.g. tsig.algorithm=hmac-md5
tsig.name=
tsig.key=
tsig.algorithm=
dns.ip=152.66.246.237
dns.port=53
#setting dnssd.domain property for dnssdjava
dns.domain=arrowhead.tmit.bme.hu
#dnssd.hostname property for dnssdjava
dns.host=localhost
#the registerdomain has to be an absolute one with '.' at the end!
dns.registerDomain=srv.arrowhead.tmit.bme.hu.
