/.idea/
/.settings/
/authorization/.settings/
/authorization/.classpath
/authorization/.project
/authorization/config/app.properties
/authorization/config/log4j.properties
/authorization/target/
/authorization/authorization.iml
/common/.settings/
/common/.classpath
/common/.project
/common/target/
/common/common.iml
/dnssd/.settings/
/dnssd/.classpath
/dnssd/.project
/dnssd/target/
/dnssd/dnssd.iml
/gatekeeper/.settings/
/gatekeeper/.classpath
/gatekeeper/.project
/gatekeeper/config/app.properties
/gatekeeper/config/log4j.properties
/gatekeeper/target/
/gatekeeper/gatekeeper.iml
/gateway/.settings/
/gateway/.classpath
/gateway/.project
/gateway/config/app.properties
/gateway/config/log4j.properties
/gateway/target/
/gateway/gateway.iml
/orchestrator/.settings/
/orchestrator/.classpath
/orchestrator/.project
/orchestrator/config/app.properties
/orchestrator/config/log4j.properties
/orchestrator/target/
/orchestrator/orchestrator.iml
/qos/.settings/
/qos/.classpath
/qos/.project
/qos/config/app.properties
/qos/config/log4j.properties
/qos/target/
/qos/qos.iml
/serviceregistry/.settings/
/serviceregistry/.classpath
/serviceregistry/.project
/serviceregistry/config/app.properties
/serviceregistry/config/dns.properties
/serviceregistry/config/log4j.properties
/serviceregistry/target/
/serviceregistry/serviceregistry.iml
/serviceregistry_sql/.settings/
/serviceregistry_sql/.classpath
/serviceregistry_sql/.project
/serviceregistry_sql/config/app.properties
/serviceregistry_sql/config/log4j.properties
/serviceregistry_sql/target/
/serviceregistry_sql/serviceregistry_sql.iml
/arrowhead.iml
/.project