#Common
# Web-server address (local network)
server_address=127.0.0.1

db_user=root
db_password=root
db_address=jdbc:mysql://127.0.0.1:3306/arrowhead

# Certificate properties
cloud_keystore=config/certificates/testcloud1_cert.jks
cloud_keystore_pass=12345
cloud_keypass=12345

#Authorization
auth_keystore=config/certificates/authorization.testcloud1.jks
auth_keystorepass=12345

#Gatekeeeper
  # General
  # timeout in ms
  gateway_socket_timeout=30000
  use_gateway=false

  # Certificate properties
  master_arrowhead_cert=config/certificates/master_arrowhead_cert.crt

#Gateway
  # General
  min_port=8000
  max_port=8100

  # Certificate properties
  gateway_keystore=config/certificates/gateway.testcloud1.jks
  gateway_keystore_pass=12345

#Service Registry
ping_scheduled=false
ping_timeout=10000
#interval in minutes
ping_interval=60