# URLs
base_uri=http://0.0.0.0:8452/
base_uri_secured=https://0.0.0.0:8453/
sr_base_uri=http://0.0.0.0:8442/

# Database parameters
db_user=root
db_password=root
db_address=jdbc:mysql://localhost:3306/arrowhead

# Certificate related paths and passwords
keystore=config/certificates/gateway.testcloud1.jks
keystorepass=12345
keypass=12345
truststore=config/certificates/testcloud1_cert.jks
truststorepass=12345

# Other
min_port=8000
max_port=8100