<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="show_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">create</property>
    <mapping class="eu.arrowhead.common.model.ArrowheadCloud"/>
    <mapping class="eu.arrowhead.common.model.ArrowheadSystem"/>
    <mapping class="eu.arrowhead.common.model.ArrowheadService"/>
    <mapping class="eu.arrowhead.common.database.CoreSystem"/>
    <mapping class="eu.arrowhead.common.database.InterCloudAuthorization"/>
    <mapping class="eu.arrowhead.common.database.IntraCloudAuthorization"/>
    <mapping class="eu.arrowhead.common.database.NeighborCloud"/>
    <mapping class="eu.arrowhead.common.database.OwnCloud"/>
    <mapping class="eu.arrowhead.common.database.OrchestrationStore"/>
    <mapping class="eu.arrowhead.common.database.qos.DeployedSystem"/>
    <mapping class="eu.arrowhead.common.database.qos.MessageStream"/>
    <mapping class="eu.arrowhead.common.database.qos.Network"/>
    <mapping class="eu.arrowhead.common.database.qos.NetworkDevice"/>
    <mapping class="eu.arrowhead.common.database.qos.Node"/>
    <mapping class="eu.arrowhead.common.database.qos.ResourceReservation"/>
    <mapping class="eu.arrowhead.common.database.qos.Topology"/>
  </session-factory>
</hibernate-configuration>
