# base_uri=http://127.0.0.1:7001/
# base_uri_secured=https://127.0.0.1:7002/
# sr_base_uri=http://127.0.0.1:8442/serviceregistry

#Certificate properties
# keystore=config/certificates/testcloud1/tempsensor.testcloud1.jks
# keystorepass=12345
# keypass=12345
# truststore=config/certificates/testcloud1/testcloud1_cert.jks
# truststorepass=12345
# authorization_cert=config/certificates/testcloud1/authorization.testcloud1.crt

# Database parameters
db_user=root
db_password=root
#db_address=jdbc:mysql://127.0.0.1:3306/arrowhead_test_cloud_1
db_address=jdbc:mysql://127.0.0.1:3306/arrowhead

##########################################
# MANDATORY PARAMETERS ONLY IN SECURE MODE
##########################################

# Certificate related paths and passwords
keystore=config/certificates/testcloud1/eventhandler.testcloud1.jks
keystorepass=12345
keypass=12345
# truststore=config/certificates/testcloud1/testcloud1_cert.jks
truststore=config/certificates/systemregistry.testcloud1.jks
truststorepass=12345

################################################
# NON-MANDATORY PARAMETERS (defaults are showed)
################################################

# Webserver parameters
#address=0.0.0.0
address=127.0.0.1
insecure_port=8436
secure_port=8437

# Service Registry
#sr_address=0.0.0.0
sr_address=127.0.0.1
sr_insecure_port=8442
sr_secure_port=8443