# URLs
base_uri=http://127.0.0.1:8450/
base_uri_secured=https://127.0.0.1:8451/

# Database parameters
db_user=root
db_password=root
db_address=jdbc:mysql://127.0.0.1:3306/arrowhead
monitor_url=http://192.168.60.144:8144/Monitor/QoSRule

#Certificate properties
keystore=config/certificates/qosmgr.testcloud1.jks
keystorepass=12345
keypass=12345
truststore=config/certificates/testcloud1_cert.jks
truststorepass=12345