<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2018 AITIA International Inc.
  ~
  ~ This work is part of the Productive 4.0 innovation project, which receives grants from the
  ~ European Commissions H2020 research and innovation programme, ECSEL Joint Undertaking
  ~ (project no. 737459), the free state of Saxony, the German Federal Ministry of Education and
  ~ national funding authorities from involved countries.
  -->

<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="show_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">create</property>
    <mapping class="eu.arrowhead.common.database.ArrowheadCloud"/>
    <mapping class="eu.arrowhead.common.database.ArrowheadSystem"/>
    <mapping class="eu.arrowhead.common.database.ArrowheadService"/>
    <mapping class="eu.arrowhead.common.database.OrchestrationStore"/>
  </session-factory>
</hibernate-configuration>
