# URLs
internal_base_uri=http://127.0.0.1:8446/
internal_base_uri_secured=https://127.0.0.1:8447/
external_base_uri=http://127.0.0.1:8448/
external_base_uri_secured=https://127.0.0.1:8449/
sr_base_uri=http://127.0.0.1:8442/
orch_base_uri=http://127.0.0.1:8440/

# Database parameters
db_user=root
db_password=root
db_address=jdbc:mysql://127.0.0.1:3306/arrowhead_test_cloud1

# Certificate related paths and passwords
gatekeeper_keystore=config/certificates/gatekeeper.testcloud1.jks
gatekeeper_keystore_pass=12345
gatekeeper_keypass=12345
cloud_keystore=config/certificates/testcloud1_cert.jks
cloud_keystore_pass=12345
cloud_keypass=12345
master_arrowhead_cert=config/certificates/master_arrowhead_cert.crt

# Other
timeout=30000
use_gateway=false