# Database parameters
db_user=root
db_password=root
db_address=jdbc:mysql://127.0.0.1:3306/arrowhead_test_cloud_1

##########################################
# MANDATORY PARAMETERS ONLY IN SECURE MODE
##########################################

# Certificate related paths and passwords
gatekeeper_keystore=config/certificates/gatekeeper.testcloud1.jks
gatekeeper_keystore_pass=12345
gatekeeper_keypass=12345
cloud_keystore=config/certificates/testcloud1_cert.jks
cloud_keystore_pass=12345
cloud_keypass=12345
master_arrowhead_cert=config/certificates/master_arrowhead_cert.crt

################################################
# NON-MANDATORY PARAMETERS (defaults are showed)
################################################

# Webserver parameters
address=0.0.0.0
internal_insecure_port=8446
internal_secure_port=8447
external_insecure_port=8448
external_secure_port=8449

# Service Registry
sr_address=0.0.0.0
sr_insecure_port=8442
sr_secure_port=8443

# Orchestrator
orch_address=0.0.0.0
orch_insecure_port=8440
orch_secure_port=8441

# Other
timeout=30000
use_gateway=false