# URLs
base_uri=http://127.0.0.1:8442/
base_uri_secured=https://127.0.0.1:8443/

# Database parameters
db_user=root
db_password=root
db_address=jdbc:mysql://127.0.0.1:3306/arrowhead_test_cloud1

# Certificate related paths and passwords
keystore=config/certificates/serviceregistry.testcloud1.jks
keystorepass=12345
keypass=12345
truststore=config/certificates/testcloud1_cert.jks
truststorepass=12345

# scheduled ping for remove unaccessible services
ping.timeout=10000
ping.scheduled=false
# interval in minutes
ping.interval=60