# URLs
base_uri=http://127.0.0.1:8442/
base_uri_secured=https://127.0.0.1:8443/

# Database parameters
db_user=root
db_password=root
db_address=jdbc:mysql://127.0.0.1:3306/arrowhead_test_cloud_1

# Certificate related paths and passwords
keystore=config/certificates/serviceregistry.testcloud1.jks
keystorepass=12345
keypass=12345
truststore=config/certificates/testcloud1_cert.jks
truststorepass=12345

# Ping providers background task parameters to remove offline ArrowheadSystems from the Service Registry
# use this feature or not
ping_scheduled=false
# timeout in milliseconds
ping_timeout=5000
# how frequently should the ping happen, in minutes
ping_interval=60

# Remove expired services background task parameters (where the TTL parameter is 0 or less)
# use this feature or not
ttl_scheduled=false
# how frequently the database should be checked for expired services, in minutes
ttl_interval=10